[class^='grid-col-'] {
  float: left;
  padding: 0;
  text-align: center;
}

.grid-col-5of10, .grid-col-2of10 {
  width: 100%;
  background: red;
  height: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
}

.grid-row:after {
  content: "test";
display: block;
clear: both;
}

@media (min-width: 30em) {
  .grid-col-5of10 {
    width: 18%;
  }
}

@media (min-width: 50em) {
  .grid-col-5of10 {
    width: 45%;
  }
}



