@font-face {
  font-family: SanFranciscoDisplay-Regular;
  src: url("../fonts/SanFranciscoDisplay-Regular.otf") format("opentype");
}

body {
  font-family: 'SanFranciscoDisplay-Regular', sans-serif;
}

.button {
  font-size: 0.9em;
  letter-spacing: 0.07em;
  padding: 0.45em 0.7em 0.45em 0.7em;
  border-radius: 0.4em;
  font-weight: 600;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
  text-transform: uppercase;
}

.cta {
  color: #fff;
  background: #d96f29;
  border-top: thin solid #bd6124;
  border-right: thin solid #bd6124;
  border-left: thin solid #bd6124;
  border-bottom: 0.15em solid #bd6124;
}

.button.cta:hover {
  background: #c86726;
  border-top: thin solid #af591f;
  border-right: thin solid #af591f;
  border-left: thin solid #af591f;
  border-bottom: 0.15em solid #af591f;  
  cursor: pointer;
}

.main-vid {
  width: 67vw;
  height: 24em;
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #aaaaaa 100%); 
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.main-vid-name {
  width: 60%;
  font-weight: 600;
  letter-spacing: 0.05vw; 
  font-size: 1.5em; 
  color: #332a22; 
  margin: 1em 1em 1em 1em;
  display: inline-block;
  border-radius: 0.2em;
  padding: 0.2em 0.4em 0.2em 0.4em;
}

.main-vid-watch {
  position: absolute;
  bottom: 1.5em;
  right: 1em;
}

.process-banner {
  background: #95ae6f;
  width: 100vw;
  text-align: center;
  color: white;
}

.process-heading {
  width: 100vw;
  display: inline-block;
  font-size: 1.4em;
  padding: 0.5em 0 0 0;
}

.process-banner p {
  margin: 0.2;
}

.process-steps-wrap {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 68vw;
  padding: 1em;
  font-size: 0.9em;
}

.process-step-img {
  background: white;
  height: 5em;
  width: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  border-radius: 10em;
}

.col-1-4 { 
  width: 16.6vw; 
  float: left;
  padding: 0.5em 0 1em 0;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 800px) {
  .main-vid {
    width: 100vw;
  }
  .col-1-4 {
    width: 33vw;
  }
}

@media (max-width: 500px) {
  .process-steps-wrap {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .col-1-4 {
    width: 100vw;
  }
}


/*
.mainNav {
  background: #fff;
  border-bottom: thin solid #ddd;
  font-size: 0.5em;
  max-width: 100%;
  font-family: 'SanFranciscoDisplay-Regular', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1vw;
  z-index: 999;
  overflow: hidden;
  padding: 0.8em 0 0.6em 0;
  vertical-align: middle;
}

*/


#logoNavDemo img {
  height: 4em;
  margin-right: 2em;
  margin-left: 1.5em;
  vertical-align: middle;

}

.mainNavBarDemo {
  /*border: 1px solid #ddd;*/
  font-size: 0.8em;
/*  height: 3.1em;*/
  padding: 0.7em 1em 0.7em 1em;
  letter-spacing: 0.2vw;
  display: block;
  color: #aaa;
  text-decoration: none;
  overflow: hidden;
  border-bottom: thin solid #ddd;
 }

/* Dropdown Button */
.dropbtn {
  background-color: #fff;
  color: #886f5b;
  padding: 0.8em;
  border: none;
  cursor: pointer;
  letter-spacing: 0.2vw;
}

.dropbtn:hover, .dropbtn:focus {
  color: #95ae6f;
  outline: none;
}

/*
.dropdown {
  position: relative;
  display: inline-block;
}
*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 5em;
    margin-left: 17em;

}

.dropdown-content a {
  color: #886f5b;
  padding: 0.8em 0.8em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.show {
  display:block;
}



.navItem {
  margin: auto 0 auto 2.5vw;
  color: #886f5b;
  text-decoration: none;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 0.3em;
}

.navItem:hover {
  color: #95ae6f;
  transition: color 0.2s ease;
}

.navItem.curNavItem {
  color: white;
  background: #95ae6f;
}


hr {
  border:1px solid #ddd;
}

