@font-face {
  font-family: SanFranciscoDisplay-Regular;
  src: url("../fonts/SanFranciscoDisplay-Regular.otf") format("opentype");
}

body {
  font-family: 'SanFranciscoDisplay-Regular', sans-serif;
}

.button {
  font-size: 0.9em;
  letter-spacing: 0.07em;
  padding: 0.45em 0.7em 0.45em 0.7em;
  border-radius: 0.4em;
  font-weight: 600;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
  text-transform: uppercase;
}

button img {
  height: 0.8em;
  width: 0.9em;
  margin-right: 0.3em;
}

.cta {
  color: #fff;
  background: #d96f29;
  border-top: thin solid #bd6124;
  border-right: thin solid #bd6124;
  border-left: thin solid #bd6124;
  border-bottom: 0.15em solid #bd6124;
}

.cta a {
  color: white;
  text-decoration: none;
}

.button.cta:hover {
  background: #c86726;
  border-top: thin solid #af591f;
  border-right: thin solid #af591f;
  border-left: thin solid #af591f;
  border-bottom: 0.15em solid #af591f;  
  cursor: pointer;
}

.readmoreLink { 
  color: #c86726; 
  text-decoration: none; 
  text-transform: uppercase; 
  letter-spacing: 0.1em; 
  font-size: 1em; 
  font-weight: 600; 
} 
.readmoreLink:after { 
  content: "►"; 
  margin-left: 0.5em; 
  font-size: 0.7em; 
  vertical-align: middle; 
} 
.readmoreLink:hover { 
  border-bottom: thin solid #c86726; 
}

.addLink { 
  color: #c86726; 
  text-decoration: none; 
  text-transform: uppercase; 
  letter-spacing: 0.1em; 
  font-size: 1em; 
  font-weight: 600; 
} 
.addLink:after { 
  content: "+"; 
  margin-left: 0.5em; 
  font-size: 0.7em; 
  vertical-align: middle; 
} 
.addLink:hover { 
  border-bottom: thin solid #c86726; 
}

.main-vid {
  width: 67vw;
  height: 24em;
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #aaaaaa 100%); 
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.main-vid-name {
  width: 60%;
  font-weight: 600;
  letter-spacing: 0.05vw; 
  font-size: 1.5em; 
  line-height: 1.3em;
  color: #332a22; 
  margin: 1em 1em 1em 1em;
  display: inline-block;
  border-radius: 0.2em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  z-index: 3;
}

.main-vid-watch {
  position: absolute;
  bottom: 1.5em;
  right: 1em;
  z-index: 3;
}

.process-banner {
  background: #95ae6f;
  width: 100vw;
  text-align: center;
  color: white;
}

.process-heading {
  width: 100vw;
  display: inline-block;
  font-size: 1.4em;
  padding: 0.7em 0 0 0;
}

.process-banner p {
  margin: 0.3em 0 0.8em 0;
}

.process-steps-wrap {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 68vw;
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 0 1em 0 1em;
}

.process-step-img {
  background: white;
  height: 5em;
  width: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  border-radius: 10em;
}

.updates-wrap {
  width: 100vw;
  padding-right: 16vw;
  padding-left: 16vw;
  font-size: 0.9em; 
}

.update-img {
  background: -webkit-linear-gradient(top, #777777 60%, #ffffff 100%); 
  width: 100%;
  min-height: 60%;
  color: white;
  font-size: 1.2em;
}

.update-img:hover {
  cursor: pointer;
  color: #ccc;
}

.update-img span {
  padding: 0.5em;
  display: inline-block;
}

.update-cta {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}

.items-wrap {
  width: 100vw;
  font-size: 0.9em; 
  padding: 0.5em 2vw 0 2vw;
}

/*.item-img {
  background: -webkit-linear-gradient(top, #777777 60%, #ffffff 100%); 
  width: 100%;
  color: white;
  font-size: 1.2em;  
}
*/
.col-1-5:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.15);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.col-1-5:hover:after {
    opacity: 1;
    cursor: pointer;
}

.col-1-5 span {
  padding: 0.5em;
  display: inline-block;
  color: white;
  font-size: 1.1em;
  z-index: 3;
}

.col-1-5-cta {
  position: absolute;
  bottom: 0em;
  right: 0em;
  font-size: 0.9em;
  z-index: 4;
}

.col-1-5 {
  background: -webkit-linear-gradient(top, #555555 0%, #ffffff 100%); 
  border: thin solid #ccc;
  border-radius: 0.3em;
  width: 15.1vw; 
  height: 8em;
  float: left;
  margin: 0 0 0.5em 0.9vw;
  position: relative;
}

.col-1-4 { 
  width: 16vw; 
  float: left;
  padding: 0.5em 0 1em 0;
}

.col-1-3 { 
  border: thin solid #ccc;
  border-radius: 0.3em;
  width: 21.5vw; 
  height: 14em;
  float: left;
  margin: 0.75em 0.5vw 0.5em 0.5vw;
  position: relative;
}

.col-1-3 p {
  margin: 0.5em;
  line-height: 1.4em;
  font-size: 0.95em;
  color: #332a22;
}


#logoNavDemo img {
  position: absolute;
  height: 2em;
  margin-top: 1em;
  margin-right: 3em;
  margin-left: 4.5em;
  vertical-align: middle;
}

#iconNavDemo img {
  height: 1em;
  margin-right: 2em;
  margin-top: 1.5em;
  float: right;
}

/*
.mainNavBarDemo {
  font-size: 0.8em;
  padding: 0.7em 1em 0.7em 1em;
  letter-spacing: 0.2em;
  display: block;
  color: #aaa;
  text-decoration: none;
  overflow: hidden;
  border-bottom: thin solid #ddd; 
}
*/

.topnav {
  font-size: 0.8em;
  /*height: 3.1em;*/
  padding: 0.7em 1em 0.7em 1em;
  letter-spacing: 0.2em;
  display: block;
  color: #aaa;
  text-decoration: none;
  overflow: hidden;
  border-bottom: thin solid #ddd; 
}

/* Dropdown Button */
.dropbtn {
  background-color: #fff;
  color: #886f5b;
  cursor: pointer;
  letter-spacing: 0.2em;
  font-size: 1.2em;
  text-decoration: none;
  border: none;
  margin-top: 0.8em;
  padding-left: 1em;
}

.dropbtn.current {
  color: #95ae6f;
  font-weight: 900;
}

.dropbtn:hover, .dropbtn:focus {
  color: #95ae6f;
  outline: none;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #fff;
  min-width: 5em;
  margin-left: 16.7em;
  border:1px solid #ddd;
  margin-top: 0.7em;
  z-index: 100;

}

.dropdown-content a {
  color: #886f5b;
  padding: 0.8em 0.8em;
  padding-right: 0.6em;
  text-decoration: none;
  display: block;
  z-index: 200;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.show {
  display:block;
}

.navItem {
  margin: 0 0 0 0;
  color: #886f5b;
  text-decoration: none;
  padding: 0.3em auto 0.3em 5em;
}

.navItem.current {
  color: #95ae6f;
  font-weight: 900;
}

.navItem:hover {
  color: #95ae6f;
  transition: color 0.2s ease;
}

.navItem.curNavItem {
  color: white;
  background: #95ae6f;
}



/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

/* Float the list items side by side */
ul.topnav li {
  float: left;
}

/* Style the links inside the list items */
ul.topnav li a {
  display: inline-block;
  color: #886f5b;
  text-align: center;
  padding: 0.9em 1em;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.2em;

}

/* Change background color of links on hover */
ul.topnav li a:hover {
  color: #85ae6f;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
  display: none;
}




/* When the screen is less than 800 pixels wide, hide all list items, except for the first one (""). 
Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:800px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: left;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
This class makes the topnav look good on small screens */
@media screen and (max-width:800px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: relative;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

hr {
  border: none;
  height: 1px;
  color: gray;
  background-color: #ddd;
  margin: 1.5em 0 1.5em 0;
}


.sidebar {
  width: 15.1vw;
  border: thin solid #ddd;
  border-radius: 0.3em;
  line-height: 1em;
  float: left;
  margin: 0 0.5vw 5em 0;
  font-size: 1em;
  padding: 0.75em;
}

.sidebar-heading1 {
  text-transform: uppercase;
  color: #95ae6f;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 0 0 1em 0;
  line-height: 1.25em;
}

.sidebar span {
  height: 2.5em;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.sidebar-label {
  vertical-align: middle;
  height: 2.5em;
  display: inline-block;
  padding: 0.3em 0.5em 0 0;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.sidebar-oplist {
  list-style: none;
  margin-top: -0.5em;
  margin-left: -2.4em;
  font-size: 1.05em;
}

.sidebar-oplist li a {
  color: black;
  text-decoration: none;
  line-height: 1.3em;
  margin-right: 2em;
}

.sidebar-oplist li a:hover {
  color: #95ae6f;
}

.sidebar-dropdown { 
  clear: left;
  vertical-align: middle; 
  padding: 0.3em 0.5em 0.3em 0.5em; 
  border: none;
  height: 2.5em; 
  background: #eeeeee; 
  margin: 0 0 0.3em 0.5em; 
  width: 11vw;
}

.sidebar-dropdown:hover{
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(149,174,111,0.5);
  -moz-box-shadow: 0px 0px 2px 2px rgba(149,174,111,0.5);
  box-shadow: 0px 0px 2px 2px rgba(149,174,111,0.5);
}

.pageFooter {
  display: block;
  width: 100vw;
  clear: both;
  padding: 1em 2vw 1em 2vw;
}

.pageFooter span {
  color: #bbbbbb;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  margin-right: 1em;
}

.pageFooter a {
  color: #777777;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: thin solid #777777;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  margin: 0 1em 0 1em;
}

.pageFooter a:hover {
  color: #332a22;
  border: none;
}

@media (max-width: 800px) {
  .main-vid {
    width: 100vw;
  }
  .process-steps-wrap {
    width: 100vw;
  }
  .col-1-4 {
    width: 23.5vw;
  }
  .updates-wrap {
    width: 100vw;
    padding: 0.15em;
  }
  .col-1-3 {
    width: 32vw;
  }
  .col-1-5 {
    width: 22.75vw;
    margin-left: 1vw;
  }
  .sidebar {
    min-width: 96vw;  
    min-height: 0;
    margin-bottom: 0.5em;
  }
  .items-wrap {
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .sidebar-dropdown {
    width: 19em;
    display: inline;
  }
  .sidebar-oplist li {
    display: inline;
    style: none;
  }
}

@media (max-width: 500px) {
  .process-steps-wrap {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .col-1-4 {
    width: 100vw;
  }
  .updates-wrap {
    padding: 0;
  }
  .col-1-3 {
    width: 100vw;
    margin: 0.4em 0 0em 0;
  }
  .col-1-5 {
    width: 46vw;
  }
}

.container {
  width: 67vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  padding-top: 0.5em;
  position: relative;
}

.container p {
  line-height: 1.4em;
  margin-top: 0;
}

.confirm-img {
  background: green;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.75em;
}

.cart-heading {
  color: #332a22;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  display: inline-block;
  vertical-align: middle;
}

.cart-heading2 {
  color: #332a22;
  font-size: 1.3em;
  letter-spacing: 0.05em;
}

.table {
  width: 100%;
  margin-bottom: 0.5em;
}

.text-right {
  text-align: center;
}

.total-row {
  height: 2em;
  font-size: 1.2em;
}

.item-thumb {
  width: 50px;
  height: 50px;
  background: gray;
}

.paybtn {
  position: absolute;
  right: 0;
  bottom: -3em;
}

@media (max-width: 500px) {
  .container {
    width: 100vw;
  }
  .text-right {
    text-align: right;
  }

  .table-xs tr,
  .table-xs td,
  .table-xs tbody,
  .table-xs thead,
  .table-xs tfoot,
  .table-xs th {
    display: table;
    width: 100%;
    border-collapse: separate;
  }
  .table-xs > tbody tr:first-child {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-xs td[title]:before {
    content: attr(title) ": ";
  }
  .table-xs td:before {
    white-space: nowrap;
    width: 50%;
    display: table-cell;
    text-align: left;
    font-weight: bold;
  }
  .table-xs .item-row td:first-child,
  .table-xs .item-row td:nth-child(2) {
    border: 0 none;
  }
  .table-xs .item-row td:first-child {
    border: 0 none;
  }
  .table-xs .item-row td:last-child {
    background: #eee;
    border-bottom: 2px solid #a2a2a2;
    font-weight: bold;
  }
  .table-xs .item-row img {
    margin-bottom: 1em;
  }
  .table-xs .total-row td {
    display: table-cell;
    width: 1%;
    border-top: 0 none;
    border-bottom: 3px double #a2a2a2;
    font-weight: bold;
    font-size: 1.5em;
  }
  .table-xs .total-row td:first-child {
    width: 99%;
  }
}



.basic-form {
  position: relative;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
}

.field {
  padding: 5px 0;
}

.field__label {
  display: block;
  margin-bottom: 5px;
}
.field__input {
  margin-bottom: 20px;
  width: 100%;
  padding: 5px;
}

/*mise en page helpers*/
.layout {
 display: inline-block; 
 float: left;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.sixth {
  margin: 0 .5%;
  width: calc((100% / 6) - 1%);
}

.third {
  margin: 0 .5%;
  width: calc((100% / 3) - 1%);
}

.half {
  margin: 0 .5%;
  width: calc(50% - 1%);
}

.two-thirds {
  margin: 0 .5%;
  width: calc(((100% / 3) * 2) - 1%);
}

.five-sixths {
  margin: 0 .5%;
  width: calc(((100% / 6) * 5) - 1%);
}

.center {
  text-align: center;
  margin: 0 auto;
}
