@font-face {
font-family: SanFranciscoDisplay-Regular;
src: url("../fonts/SanFranciscoDisplay-Regular.otf") format("opentype");
}

header {
  font-size: 1.4vw;
  color: #333;
  font-family: 'SanFranciscoDisplay-Regular', sans-serif;
  overflow: hidden;
  height: 5.5vw;
}

.headerLogo {
	position: absolute;
	width: 12vw;
	margin-left: 2.5vw;
	margin-top: 1.1em;
}

.headerBg {
	width: 100%;
	margin-bottom: -0.4em;
}

.mainNav {
  background: #fff;
  border-bottom: thin solid #ddd;
  font-size: 1.2em;
  max-width: 100%;
  font-family: 'SanFranciscoDisplay-Regular', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1vw;
  z-index: 999;
  overflow: hidden;
  padding: 0.8em 0 0.6em 0;
  vertical-align: middle;
}

.mainNavBarDemo {
  border: 1px solid #ddd;
  font-size: 0.95em;
  padding: 1em 1em 1em 1em;
  margin: 0 2vw 0 2vw;
  letter-spacing: 0.08vw;
  display: block;
  color: #aaa;
  text-decoration: none;
  overflow: hidden;
 }

#logoNavDemo img {
  height: 4em;
  margin-right: 2em;
  margin-left: 1.5em;
  vertical-align: middle;

}

#logoNav img {
  height: 1.5em;
  float: right;
  margin-right: 2.5vw;
}

.navItem {
	margin: auto 0 auto 2.5vw;
  color: #886f5b;
  text-decoration: none;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 0.3em;
}

.navItem:hover {
  color: #95ae6f;
  transition: color 0.2s ease;
}

.navItem.curNavItem {
	color: white;
  background: #95ae6f;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
}

.stickyAside {
  position: fixed;
  display: inherit;
  top: 3.5em;
  right: 0;
  width: 33vw;
}

.prodList {
  width: 20em;
  border: thin solid #ddd;
  border-radius: 0.3em;
  padding: 1em;
  padding-bottom: 5em;
  margin: 0 2vw 0 2vw;
}

.prodList img {
  width: 100%;
  float: left;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.prodList1 {
  width: 100%;
  float: left;
}

.prodNum {
  font-size: 14px;
  color: #9B9B9B;
}

.wrap {
  min-height: 100em;
}

.content {
  padding: 1.2vw 0 1.2vw 0;
  margin: 0 0 0 2.5vw;
  box-sizing: border-box;
  width: 100%;
  font-family: 'SanFranciscoDisplay-Regular', sans-serif;
}

.sidebar {
  width: 100%;
  background: #fff;
  padding: 1.2vw 1vw 1.2vw 0;
  box-sizing: border-box;
  border: thin solid #ddd;
  border-radius: 0.3em;
  font-family: 'SanFranciscoDisplay-Regular', sans-serif;
  line-height: 1em;
}

.sidebarLink {
  font-size: 1.1em;
  color: #886f5b;
  text-decoration: none;
}

.sidebarLink:hover {
  color: #000;
  border-bottom: thin solid #000;
  transition: color 0.2s ease;
}

.sidebarNav, .sidebarNavSub {
  list-style-type: none;
  margin: 0;
}

.sidebarNav {
  padding: 0em 1.5em 0em 1.5em;
  line-height: 1.8em;
}

.sidebarNavSub {
  padding-left: 1em;
}

@media (min-width: 600px) {
  .sidebar {
  float: right;
  width: 30%;
  margin: 0.7em 2vw; 
  }

  .content {
  width: 63%;
  }
}

@media(max-width: 599px){
  .sidebar {
    position: inherit;
  }
}

@media(max-height: 650px) {
  .sidebar {
    position: inherit;
  }
}

.pageHead1 {   
  font-family: 'SanFranciscoDisplay-Regular', sans-serif;
  letter-spacing: 0.05vw; 
  font-size: 2em;
  color: #332a22;
  margin-top: 0;
  padding-top: 0.5em;
}

.pageHead2 {
  font-family: 'SanFranciscoDisplay-Regular', sans-serif;
  font-size: 1.7em;
  color: #886f5b;
  padding-top: 0.5em;
}

.pageHead3 {
  font-family: 'SanFranciscoDisplay-Regular', sans-serif;
  padding-top: 0.5em;
  font-size: 1.5em;
  color: #332a22;
}

.pageHead4 {
  color: #886f5b;
  font-size: 1.3em;
  padding-top: 0.5em;

}

.paraOpen {
  font-family: 'SanFranciscoDisplay-Regular', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #886f5b;
}

.para {
  color: #332a22;
  font-size: 1.1em;
  line-height: 1.5em;
}

.uList li {
  display: list-item;
  list-style-type: none;
  list-style-position: inside;
  font-size: 1.1em;
  line-height: 1.5em;
}

.uList li:before {
  content: "\25A0";
  color: #886f5b;;
  margin-right: 1em;
  vertical-align: text-bottom;
}

.oList li {
  display: list-item;
  list-style-position: inside;
  font-size: 1.1em;
  line-height: 1.5em;
}

.oList li span {
  position: relative;
  left: 0.5em;
}


.pullQuote {
  color: #332a22;
  font-size: 1.15em;
  line-height: 1.5em;
  border-radius: 0.3em;
  border-left: 0.25em solid #95AE6F;
  border-right: 0.25em solid #95AE6F;
  padding: 1em;
}

.toggle-label {
  display: block;
  margin-bottom: 0em;
  margin-top: 0.5em;
  max-width: 10em;
  margin-left: 0;
}

.toggle-input {
  display: none;
}

.code {
    margin-bottom: 1em;
    margin-top: 0.8em;
    background: #e5e5e5;
    padding: 0.8em;
}

.toggle-input:not(checked) ~ .code {
    display: none;
}
.toggle-input:checked ~ .code {       
    display: block;
}

.button {
  letter-spacing: 0.07em;
  padding: 0.45em 0.7em 0.45em 0.7em;
  border-radius: 0.4em;
  font-size: 1.1em;
  font-weight: 600;
  margin-right: 0.5em;
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

.standard {
  color: #555;
  border-top: thin solid #ccc;
  border-right: thin solid #ccc;
  border-left: thin solid #ccc;
  border-bottom: 0.15em solid #ccc;  
  background: #f0f0f0;
}

.button.standard:hover {
  background: #e5e5e5;
  border-top: thin solid #aaa;
  border-right: thin solid #aaa;
  border-left: thin solid #aaa;
  border-bottom: 0.15em solid #aaa;  
  cursor: pointer;
}

.prim {
  color: #fff;
  border-top: thin solid #95ae6f;
  border-right: thin solid #95ae6f;
  border-left: thin solid #95ae6f;
  border-bottom: 0.15em solid #95ae6f;
  background: #a3bd7c;
}

.button-icon-submit {

}

.button.cta.add {
  width: 100%;
}

.button-icon-add {
    background: url('../img/icon-cart.png') no-repeat;
    width: 22px;
    padding-left: 20px;
}

.button.prim:hover {
  background: #95ae6f;
  border-top: thin solid #728852;
  border-right: thin solid #728852;
  border-left: thin solid #728852;
  border-bottom: 0.15em solid #728852;
  cursor: pointer;
}

.cta {
  color: #fff;
  background: #d96f29;
  border-top: thin solid #bd6124;
  border-right: thin solid #bd6124;
  border-left: thin solid #bd6124;
  border-bottom: 0.15em solid #bd6124;
}

.button.cta:hover {
  background: #c86726;
  border-top: thin solid #af591f;
  border-right: thin solid #af591f;
  border-left: thin solid #af591f;
  border-bottom: 0.15em solid #af591f;  
  cursor: pointer;
}

.cancel {
  color: #fff;
  background: #e44e3a;
  border-top: thin solid #c73e2c;
  border-right: thin solid #c73e2c;
  border-left: thin solid #c73e2c;
  border-bottom: 0.15em solid #c73e2c;  
}

.button.cancel:hover {
  background: #c23c2b;
  border-top: thin solid #993022;
  border-right: thin solid #993022;
  border-left: thin solid #993022;
  border-bottom: 0.15em solid #993022;  
  cursor: pointer;
}

.disabled {
  color: #bbb;
  border-top: thin solid #ddd;
  border-right: thin solid #ddd;
  border-left: thin solid #ddd;
  border-bottom: 0.15em solid #ddd;  
  background: #f7f7f7;
}

.button.disabled:hover {
  cursor: not-allowed;
}

.colours {
  margin: 0 2vw 0 0vw;
}

.col-1-2, .col-1-4 { 
  font-size: 2vw;
  margin-bottom: 1.5em; 
  padding: 1em; 
  text-align: center; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
  border-radius: 0.8em;
  color: #fff;
} 

.matcha {
  background: #95ae6f;
}

.earthenware {
  background: #886f5b;
}

.caramel {
  background: #c86726;
}

.cayenne {
  background: #c73e2c;
}

.mustard {
  background: #FFC857;
}

.eggplant {
  background: #614051;
}

.col-detail {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 0.8em;
  color: #fff;
}

  [class*="col-"] {
    margin-right: 20px;
  }
  [class*="col-"]:last-child {
    margin-right: 0;
  }  
  .col-1-2 {
    float: left;
    width: 50%;
  }
  .col-1-4 {
    float: left;
    width: 25%;
  }
  .row-2 {
    padding-left: 20px;
  }
  .row-2 [class*="col-"]:first-child {
    margin-left: -20px;
  }
  .row-4 {
    padding-left: 60px;
  }
  .row-4 [class*="col-"]:first-child {
    margin-left: -60px;
  }  

.link {
  font-size: 1.15em;
  color: #95ae6f;
  text-decoration: none;
  border-bottom: thin solid;
}

.link:hover {
    color: #000;
    transition: color 0.2s ease;
}

.formLabel {
  font-size: 1.15em;
  line-height: 1.6em;
  width: 8em;
  display: inline-block;
  vertical-align: middle;
}

.textInput {
  display: block;
  font-size: 1.15em;
  line-height: 1.6em;
  vertical-align: middle;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border: thin solid #aaa;
  border-radius: 0.3em;
  width: 15em;
  height: 2.3em;
  background: #fafafa;
  margin-bottom: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dropdownInput {
  display: block;
  font-size: 1.15em;
  line-height: 1.6em;
  vertical-align: middle;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border: thin solid #aaa;
  border-radius: 0.15em;
  width: 15em;
  height: 2.3em;
  background: #fafafa;
  margin-bottom: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.textArea {
  background: #fafafa;
  display: block;
  border: thin solid #aaa;
  border-radius: 0.3em;
  font-size: 1.15em;
  line-height: 1.6em;
  margin-bottom: 1em;
  padding: 0.3em 0.5em 0.3em 0.5em;
  width: 20em;
}

input[type=checkbox], input[type=radio] {
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  -o-transform: scale(1.5); 
  margin: 0.5em 1em 1em 0.5em;
}

.checkboxLabel, .radioLabel {
  font-size: 1.15em;
  width: 10em;
  display: block;
  overflow: hidden;
}

.checkboxLabel:hover, .radioLabel:hover {
  cursor: pointer;
}

hr {
  margin-top: 2em;
  border: 1px solid #ddd;
  width: 100%;
}

